/*
 *= require_tree .
 *= require_self
 */

 @import "bootstrap/scss/bootstrap";

/* hader */

#logo {
  font-size: 1.2em;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
  color: white;
}

.navbar {
  justify-content: space-between;
}

/* static_pages home メイン*/

.jumbotron {
  background-image: url(assets/background-image.jpeg);
  padding-top: 90px;
  color: white;
  h1 {
    font-weight: bold;
    font-size: 62px;
  }
  p {
    font-size: 24px;
    font-weight: bolder;
  }
}

.title {
  min-height: 38vh;
}

.search-form {
  padding: 0 80px;
  h1 {
    padding-bottom: 10px;
    font-size: 22px;
    font-weight: bold;
  }
}



/* area */








/* _header(仮) 

.navbar {
  background: linear-gradient(#de4d4d, #f5a500);
}

#logo {
  font-size: 1.7em;
  color: black;
  letter-spacing: -1px;
  font-weight: bold;
  color: white;
}

.navbar-nav {
  font-weight: bold;
}

*/
