<nav class="navbar navbar-expand bg-dark navbar-dark">
  <div class="navbar-brand">
    <%= link_to "FASHION-ONE", root_path, id: "logo" %>
  </div>
  <div class="navbar-nav">
    <%= link_to "メニュー1", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー2", root_path, class: "nav-item nav-link text-white" %>
    <%= link_to "メニュー3", root_path, class: "nav-item nav-link text-white" %>
  </div>
</nav>
